// fonts
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colours
$primaryColour: #5a5a5a;

$titleRight: #3d8ec2;
$totalColour: #3399cc;
$detailsTextColour: #6f6f6f;
$detailsColour: #e4eaef;
$detailsInputBorderColour: #9d9d9d;

body, html {
  height: 100%;
  margin: 0;
  font-family: $font-stack;
  color: $primaryColour;
  font-size: 12px;
}

#wrapper {
  min-height: 100%;
}

a {
  color: $titleRight;
  text-decoration: none;
}

a:hover {
  color: $totalColour;
}

.title {
  margin-top: 20px;
  font-size: 5em;
  text-align: center;
  font-weight: 200;
  .first {
    color: $primaryColour;
  }
  .second {
    color: $titleRight;
  }
}

#details-panel {
  height: 100%;
  float: left;
  width: 20%;
  overflow: auto;
  .data-input {
    margin-top: 35%;
  }
  background-color: $detailsColour;
  .rate {
    margin: 0;
    padding: 2px;
  }
  .currency-label {
    color: $detailsInputBorderColour;
    font-size: large;
    position: absolute;
    top: 11px;
    left: 17px;
  }
}

#select-currency-parent-parent {
  position: absolute;
  //  left:17px;
  height: 90%;
}

#select-currency {
  width: 60px;
  height: 100%;
  font-size: large;
  margin: 0;
  padding: 0.5em;
  background: transparent;
  opacity: 1;
  color: $detailsInputBorderColour;
  border: 0 none;
  border-radius: 0px;
}

#select-currency-parent {
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

#select-currency-parent:before, #select-currency-parent:after {
  border: none;
  height: 100%;
  content: "";
  pointer-events: none;
  position: absolute;
}

#select-currency-parent:before {
  height: 95%;
  bottom: 0;
  right: 0;
  width: 2em;
  background-color: $detailsInputBorderColour;
  border: 1px solid $detailsInputBorderColour;
}

#select-currency-parent:after {
  content: "▼";
  font-size: 0.7em;
  height: 1em;
  line-height: 1;
  right: 1.2em;
  top: 40%;
  color: #ffffff;
}

fieldset {
  border: none;
  margin: 0;
  p {
    position: relative;
    padding: 5px;
  }
}

label.field {
  width: 100%;
  font-size: 2em;
  font-weight: 200;
  color: $detailsTextColour;
}

input.details-textbox {
  width: 90%;
  height: 30px;
  font-size: 1.25em;
  text-align: right;
  color: $detailsTextColour;
  padding: 3px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid $detailsInputBorderColour;
  outline: 0;
  -webkit-appearance: none;
}

input.details-textbox:focus {
  border: 1px solid $totalColour;
}

#main-panel {
  float: left;
  width: 60%;
  .wage-info {
    padding-top: 12%;
    text-align: center;
    font-weight: lighter;
    h2 {
      font-weight: 200;
      font-size: 2.3em;
    }
  }
}

#money-count {
  margin: 3% 0 5% 0;
  font-size: 6em;
  font-weight: lighter;
}

.money-count-valid {
  color: $totalColour;
}

.money-count-invalid {
  color: $detailsColour;
}

#footer {
  clear: both;
  height: 5%;
  margin-top: 10%;
  text-align: center;
  font-weight: 100;
  font-size: small;
}