@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5a5a5a;
  font-size: 12px; }

#wrapper {
  min-height: 100%; }

a {
  color: #3d8ec2;
  text-decoration: none; }

a:hover {
  color: #3399cc; }

.title {
  margin-top: 20px;
  font-size: 5em;
  text-align: center;
  font-weight: 200; }
  .title .first {
    color: #5a5a5a; }
  .title .second {
    color: #3d8ec2; }

#details-panel {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #e4eaef;
  z-index: 1; }

@media only screen and (max-device-width: 340px) {
  #details-panel {
    position: absolute;
    width: 50%;
    background-color: #e4eaef; } }
#details-toggle {
  display: block;
  position: fixed;
  top: 50px;
  background-color: #e4eaef;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1; }
  #details-toggle img {
    width: 64px; }

.details-toggle-max {
  left: 20% !important; }

@media only screen and (max-device-width: 340px) {
  #details-toggle img {
    width: 128px; }

  .details-toggle-max {
    left: 50% !important; } }
.data-input {
  margin-top: 35%; }

.currency-label {
  color: #9d9d9d;
  font-size: large;
  position: absolute;
  top: 11px;
  left: 17px; }

div {
  clear: both; }

#rate {
  position: relative; }

#currencies {
  background-color: #DADADA;
  position: absolute;
  padding: 0;
  z-index: 1;
  cursor: default;
  top: 1px;
  left: 1px; }

#available-currencies {
  display: none;
  position: absolute;
  top: 36px;
  padding: 0; }
  #available-currencies p {
    width: 55px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 1.75em;
    background-color: #CACACA; }
  #available-currencies p:hover {
    background-color: #B3B3B3 !important; }

#selected-currency {
  padding: 0;
  margin: 0;
  width: 55px;
  text-align: center;
  height: 36px;
  font-size: 1.75em;
  line-height: 36px; }

#selected-currency::after {
  content: "▼";
  font-size: 0.5em;
  position: absolute;
  left: 38px; }

.field {
  padding: 10px; }
  .field label {
    width: 100%;
    font-size: 2em;
    font-weight: 200;
    color: #6f6f6f; }

.details-textbox {
  width: 90%;
  height: 30px;
  font-size: 1.25em;
  text-align: right;
  color: #6f6f6f;
  padding: 3px;
  border: 1px solid #9d9d9d;
  outline: 0;
  -webkit-appearance: none; }

.details-textbox:focus {
  border: 1px solid #3399cc; }

#main-panel {
  width: 100%; }

@media only screen and (max-device-width: 340px) {
  #main-panel {
    width: 100%; } }
.wage-info {
  padding-top: 5%;
  text-align: center;
  font-weight: lighter; }
  .wage-info h2 {
    font-weight: 200;
    font-size: 2.3em; }

#money-count {
  margin: 3% 0 5% 0;
  font-size: 6em;
  font-weight: lighter; }

.money-count-valid {
  color: #3399cc; }

.money-count-invalid {
  color: #e4eaef; }

#footer {
  clear: both;
  height: 5%;
  margin-top: 10%;
  text-align: center;
  font-weight: 100; }

@media only screen and (max-device-width: 340px) {
  body, html {
    font-size: 125%;
    line-height: 1.5; } }

/*# sourceMappingURL=main.css.map */
